label {
    display: block;
    margin: 10px 0;
}

input,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
[type="checkbox"] {
    width: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    color: #000;
    font-weight: normal;
}

input[type="submit"],
[type="reset"] {
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-weight: bold;
}
